*{
	margin : 0px;
	padding : 0px;
}

body{
	background-color : white;
	padding : 1em;
}

#piece_container{
	width: 620px;
	margin : auto;
	
}
.tiny{
	width: 45px;
	height: 45px;
	margin : 2px;
}
.borrar{
	width: 45px;
	height: 45px;
	margin : 2px;
}
.zoom{
	width: 225px;
	height: 225px;
	margin : 0px;
	border-width: 0px;
}
#puzzle_container{
	padding :0;
	width: 675px;
	height: 450px;
	background-color : #b6b4b4;
	margin : auto;
	font-size :0px;
}

.piece_container{
	margin : 0px;
	padding: 0px;
	width: 225px;
	height: 225px;
	border-width: 0px;
	display: inline-block;
}

section{
	background-color : #6bc8db;
	width: 695px;
	padding : 10px;
	border-width: 0px;
	border-radius : 10px;
	margin : auto;
}

article{
	background-color : #32b1c5;
	width: 750px;
	padding : 10px;
	border-width: 0px;
	border-radius : 10px;
	margin : auto;
	text-align : center;
}

.icon{
	width: 90px;
	height: 90px;
	margin:auto;
	display: block;
}

#carrito_container{
	min-height : 300px;
	width: 400px;
	background-color: #6bc8db;
	margin: auto;
	margin-top : 1em;
	margin-bottom : 1em;
	border-width: 0px;
	border-radius : 10px;
}
table{
	
}

th{
	font-weight: bold;
}

input[type="number"]{
	width : 3em;
}

#compra{
	display:block;
	padding: 1em;
}

#compra tfoot{
	font-weight : bold;
}

#compra tr{
	margin : 1em;
	outline: thin solid black;
}
#compra tfoot tr{
	margin : 1em;
	outline: thin solid red;
}

.error{
	background-color: red;
}

.ok{
	background-color: green;
}